<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>MedMg</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>default.htm</welcome-file>
    </welcome-file-list>

    <servlet>
        <description></description>
        <display-name>Login</display-name>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.medmg.servlet.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>Logout</display-name>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.medmg.servlet.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>Adduser</display-name>
        <servlet-name>Adduser</servlet-name>
        <servlet-class>com.medmg.servlet.Adduser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Adduser</servlet-name>
        <url-pattern>/Adduser</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>AddMedicine</display-name>
        <servlet-name>AddMedicine</servlet-name>
        <servlet-class>com.medmg.servlet.AddMedicine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMedicine</servlet-name>
        <url-pattern>/AddMedicine</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>UpdateMedicine</display-name>
        <servlet-name>UpdateMedicine</servlet-name>
        <servlet-class>com.medmg.servlet.UpdateMedicine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateMedicine</servlet-name>
        <url-pattern>/UpdateMedicine</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>DeleteMedicine</display-name>
        <servlet-name>DeleteMedicine</servlet-name>
        <servlet-class>com.medmg.servlet.DeleteMedicine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteMedicine</servlet-name>
        <url-pattern>/DeleteMedicine</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>UpdateUser</display-name>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>com.medmg.servlet.UpdateUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>DeleteUser</display-name>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>com.medmg.servlet.DeleteUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CommandServlet</display-name>
        <servlet-name>CommandServlet</servlet-name>
        <servlet-class>com.medmg.servlet.CommandServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommandServlet</servlet-name>
        <url-pattern>/CommandServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>A</display-name>
        <servlet-name>A</servlet-name>
        <servlet-class>com.medmg.servlet.A</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>A</servlet-name>
        <url-pattern>/A</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ShowCommand</display-name>
        <servlet-name>ShowCommand</servlet-name>
        <servlet-class>com.medmg.servlet.ShowCommand</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowCommand</servlet-name>
        <url-pattern>/ShowCommand</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ExportData</display-name>
        <servlet-name>ExportData</servlet-name>
        <servlet-class>com.medmg.servlet.ExportData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportData</servlet-name>
        <url-pattern>/ExportData</url-pattern>
    </servlet-mapping>
</web-app>